<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BusinessConditionPOMapper">

    <insert id="insert">
        insert into BusinessCondition() values(#{date}, #{salesIncome}, #{overFlowIncome}, #{purPriceAdjustIncome}, #{priceDiffIncome}, #{tokenIncome}, #{discount}, #{purCost}, #{damageCost}, #{giftCost})
    </insert>

    <select id="select" resultType="po.BusinessConditionPO">
        select * from businessCondition where date >= #{begin} and date &lt;= #{end}
    </select>

</mapper>