<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserPOMapper">
    <resultMap id="resultMap" type="po.UserPO">
        <result column="userId" property="userId"/>
    </resultMap>

    <select id="getId" resultType="int">
        select max(userId)+1 from User
    </select>

    <select id="getPassword" resultType="po.UserPO">
    SELECT * from user where username like #{username}
    </select>
    <insert id="insert">
        INSERT INTO User(userId,username,usertype,createTime,facebook,github,twitter,email,phone,comment,date,password,isDeleted)
        VALUES (#{userId},#{username},#{usertype},#{createTime},#{facebook},#{github},#{twitter},#{email},#{phone},#{comment},#{date},#{password},#{isDeleted})
    </insert>

    <update id="update">
        update User set username=#{username},usertype=#{usertype},createTime=#{createTime},facebook=#{facebook},github=#{github},twitter=#{twitter},email=#{email},phone=#{phone},comment=#{comment},date=#{date},password=#{password},isDeleted=#{isDeleted}
        where userId = #{userId}
    </update>

    <delete id="delete">
        DELETE FROM User WHERE userId = #{id}
    </delete>

    <select id="showDetail" resultType="po.UserPO">
        SELECT * FROM User WHERE userId = #{id}
    </select>
    <select id="search" resultMap="resultMap">
        select * from User
        <where>
            <if test="userCategory != null">
                userCategory = #{userCategory}
            </if>
            <if test="createTimeFloor != null">
                AND createTime &gt;= #{createTimeFloor}
            </if>
            <if test="createTimeCeil != null">
                AND createTime &lt;= #{createTimeCeil}
            </if>
        </where>
    </select>

</mapper>
