<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.accountdata.AccountPOMapper">

    <select id="getID">
        select ID from account where name = #{name}
    </select>

    <select id = "getAccountByName">
        select * from account where name =#{name}
    </select>

    <insert id="insert">
        insert into account(name,balance)
        values(#{name}, #{balance})
    </insert>

    <update id="update">
        update account
        set name=#{name},balance=#{balance}
        where ID =#{ID}
    </update>

    <delete id="delete">
        delete from account where ID = #{ID}
    </delete>

    <select id="selectInEffect" resultType="po.AccountPO">
        select * from account where name like #{name}
    </select>

    <select id="getAll" resultType="po.AccountPO">
        select * from account
    </select>

</mapper>