#mainpane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#mainAnchorPane {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(gaussian, grey, 10, 0.1, 0, 0);
}

#logopane {
    -fx-border-radius: 10 0 0 0;
    -fx-background-radius: 10 0 0 0;
}

#bar {
    -fx-border-radius: 0 10 0 0;
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: rgb(254, 254, 254);
}

/*.board {*/
/*-fx-background-color: rgb(244, 247, 249);*/
/*-fx-background-radius: 0 0 10 0;*/
/*-fx-border-radius: 0 0 10 0;*/
/*}*/

#navigation {
    -fx-border-radius: 0 0 0 10;
    -fx-background-radius: 0 0 0 10;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropshadow(one-pass-box, rgba(182, 182, 182, 0.18), 30, 0.01, 10, 10);
}

#navigation .list-cell {
    -fx-background-radius: 5px;
    -fx-background-insets: 2;
    -fx-padding: 10;
}

/* TODO selected和focused还没看出什么区别 */
#navigation .list-cell:selected {
    /*-fx-cell-hover-color: #0093ff;*/
    -fx-background-color: #eff8ff;
}

#navigation .list-cell:filled:selected:focused .label {
    -fx-text-fill: #3983D7;
}

#filter {
    -fx-background-color: linear-gradient(to bottom right, rgba(140, 162, 246, 0.5), rgba(101, 158, 251, 0.5));
    -fx-text-fill: white;
}

#add {
    -fx-background-color: linear-gradient(to bottom right, #8CA2F6, #659EFB);
    -fx-text-fill: white;
}

/*#navigation .list-cell:filled:selected:focused #supervisionicon, #navigation .list-cell:filled:selected:focused #userlisticon {*/
/*-fx-fill: #3983D7;*/
/*}*/

/*#UserList{*/
/*-fx-border-radius: 10 10 10 10;*/
/*-fx-background-radius: 10 10 10 10;*/
/*-fx-effect: dropshadow(gaussian,grey, 10, 0.1, 0, 0);*/
/*}*/

/*#labellist{*/
/*-fx-background-color: derive(#CFD2D4, 10%);*/
/*}*/

/*#mylistview{*/
/*-fx-border-color: silver;*/
/*}*/


