.text-field{

    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #d5dce6;
    -fx-pref-height: 20;
    -fx-background-color: transparent;
}

.text-area{
    -fx-background-insets: 0;
    -fx-border-color: #d5dce6;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
}
#pane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, gainsboro, 10, 0.1, 0, 0);
}
#delete{
    -fx-text-fill: white;
    -fx-background-color: red;
}
#reset{
    -fx-text-fill: white;
    -fx-background-color: #03A9F4;
}

#save{
    -fx-text-fill: white;
    -fx-background-color: #03A9F4;
}